/* body {
    background-color: #ffe8c5;
    font-family: 'Jost', sans-serif;
    color: #000000;
} */

body {
    background-color: #ffaa29;
    font-family: 'Jost', sans-serif;
    color: #a09c9c;
}

.wrapper {
    width: 400px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    background: rgb(255, 92, 112);
    box-shadow: red
}

input[type="text"] {
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background: none;
    width: 274px;
    color: rgb(255, 255, 255);
}

input[type="text"]:focus {
    outline: none;
}

.controls {
    width: 294px;
    margin: 15px auto;
}

#remove_fields {
    float: right;
}

.controls a i.fa-minus {
    margin-right: 5px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #ffffff;
}